.pricing-card {
  margin-top: 1rem;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1.5rem;
  background-color: hsl(40, 16%, 96%);
  // border-radius: 0.5rem;

  .bias {
    align-self: flex-end;
    background: hsla(50, 96%, 51%, 1);
    padding: 0.625rem 1.875rem;
    font-weight: 700;
    // border-radius: 0.5rem;
    color: hsl(0, 0%, 100%);
  }

  .plan-type {
    font-weight: 700;
    font-size: 2.7rem;
  }

  .plan-fee {
    font-size: 3.25rem;
    span:nth-of-type(2) {
      font-size: 1.275rem;
    }
  }

  .plan-features {
    span {
      font-weight: 700;
      font-size: 1.275rem;
    }

    li {
      color: hsla(330, 2%, 15%, 1);
      margin-inline-start: 1.5rem;
      margin-top: 0.5rem;
      list-style-image: url("../../../../assets/svg/checkmark.svg");
    }
  }

  button {
    background: hsla(220, 86%, 40%, 1);
    color: hsl(0, 0%, 100%);
    padding: 0.8rem 1.275rem;
    border: none;
    // border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    align-self: center;

    &:hover {
      transform: scale(1.1);
    }
  }

  &:hover {
    background: hsla(220, 86%, 40%, 1);
    color: hsl(0, 0%, 100%);

    li {
      color: hsl(0, 0%, 100%);
      list-style-image: url("../../../../assets/svg/checkmarkwhite.svg");
    }

    button {
      background: hsl(0, 0%, 100%);
      color: hsla(220, 86%, 40%, 1);
    }
  }
}
