#testimonials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: hsl(0, 1%, 15%);

  & > h2 {
    text-align: center;
    padding-inline: 1rem;

    span {
      color: hsla(220, 68%, 32%, 1);
    }
  }

  & > p {
    padding-inline: 1rem;
    line-height: 2;
    text-align: justify;
  }

  .slide-container {
    overflow-x: hidden;
  }

  .slider {
    width: max-content;
    position: relative;
    display: flex;
    transition: 0.5s;
    // gap: 1rem;
  }

  .slide-control {
    display: flex;
    justify-content: center;
    gap: 2rem;

    img {
      cursor: pointer;
    }

    img:nth-of-type(1) {
      transform: scaleX(-1);
    }
  }
  .slide-indicator {
    display: flex;
    justify-content: center;
    gap: 1rem;

    input {
      cursor: pointer;
    }
  }
}
