// $font1: Montserrat;
// $font2: Poppins;
// $font3: Roboto;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$breakpoints-up: (
  "medium": 700px,
  "large": 900px,
  "xlarge": 1440px,
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

:root {
  --font-1: Montserrat;
  --font-2: Roboto;

  --font-color-primary: hsla(0, 0%, 0%, 1);
  --font-color-secondary: hsla(330, 1%, 49%, 1);

  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

::before,
::after {
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
  line-height: 3.8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

body {
  font-family: var(--font-2);
  color: var(--font-color-primary);
  background-color: hsl(0, 0%, 90%);
}
