@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --font-1: Montserrat;
  --font-2: Roboto;

  --font-color-primary: hsla(0, 0%, 0%, 1);
  --font-color-secondary: hsla(330, 1%, 49%, 1);

  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

::before,
::after {
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-family: var(--font-1);
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.875rem;
}

h3 {
  font-family: var(--font-1);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.875rem;
}

h4 {
  font-size: 1.5rem;
  font-family: var(--font-1);
  line-height: 1.875;
}

body {
  font-family: var(--font-2);
  color: var(--font-color-primary);
  letter-spacing: 0.1rem;
}
