.advantage-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0.5rem;
  text-align: center;
  background: hsla(40, 16%, 96%, 1);

  & > img {
    width: 5rem;
    height: 5rem;
  }

  & > span {
    font-weight: 700;
    font-size: 1.5rem;
    color: hsla(220, 59%, 50%, 1);
  }

  & > p {
    color: hsla(330, 2%, 15%, 1);
    line-height: 1.5;
    text-align: justify;
  }
}
